input{
  border-radius: 10px;
  border: none;
  padding: 10px;
}

input[type=text],textarea, input[type=submit]{
  margin-top: 10px;

}

textarea{
  border-radius: 10px;
  border: none;
  padding: 10px;
  resize: none;
}

.formp{
  margin: 10px 0;
}

.pform{
  width: 1000px;
  margin: auto;
}

.fct{
  margin: 20px auto;
}

.lg{
  font-size: 24px;
}
